<!-- 

En la empresa donde usted se encuentra prestando sus servicios como analista y desarrollador
de sistemas Full Stack están actualmente realizando un sitio web de uno de los clientes más
importantes , su manager le encomendó realizar una demo , las indicaciones recibidas son las
siguientes:

1) Autenticacion-Login:
La aplicación deberá poseer un Login como vista principal del sitio en donde se permita el
ingreso del usuario y clave, los datos ingresados para logearse se debe validar contra la
siguiente api
https://jsonplaceholder.typicode.com/users
Para el usuario se debe validar con la key “email” y la clave con la key “lat”
Por ejemplo el user “Sincere@april.biz” tendrá la clave “81.1496”

2) El sitio principal (luego de que se realiza el logeo) debe permitir al usuario ingresar a
través de un formulario un nombre y determinar si el nombre pertenece a un hombre
o a una mujer para ello deberá utilizar el siguiente api https://genderize.io/
Ejemplo : https://api.genderize.io/?name=alex

3) También deberá permitir que se pueda conocer la posible nacionalidad del nombre
para ello deberá utilizar la siguiente api : https://nationalize.io/
Ejemplo: https://api.nationalize.io/?name=alex
Apis a utilizar:
https://jsonplaceholder.typicode.com/
https://genderize.io/
https://nationalize.io/
En caso de necesitar información adicional la podrá encontrarla en la documentación de
cada una de las API

 -->




<router-outlet></router-outlet>



