/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/dist/css/bootstrap.min.css';

.cuadro{
    display: flex;
    justify-content: center;
    background-color: #b9b8b8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,100,313);
    margin: 10%;
}